DJANGO_SECRET_KEY=change-this-to-a-random-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:3001
SMTP_PASSWORD_KEY=l4GB8GA1A4kr7jmb7RlSp5Yurfb7wH1f_vDzrsem6IM=
